@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text font-sans;
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f; /* border color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9E7FFF; /* primary color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c5eff; /* a slightly darker primary */
}
